body {
    background-color: #CCCCCC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    width: 75%;
    height: 10px;
    padding: 0.8rem;
    font-size: 0.9rem;
    border-radius: 5px;
    border: 0;
    margin: 10px;
}

button {
    margin-top: 0.5rem;
 
     width: 80%;
     padding: 0.8rem 0.5rem;
     
     color: #FFFF;
     background-color: #1D0C20;
     
     font-size: 0.9rem;
 
     border-radius: 4px;
     border: none;
 
     cursor: pointer;
}

.header {
    background-color: #270E2B;
    margin: auto;

    margin-top: 50px;
    width: 35%;
    padding: 1.2rem;

    border-radius: 10px;

    color: #FFFF;

    text-align: center;
}

.header-title {
    color: #FFCE23;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.header-subtitle {
    padding: 0.2rem;
    margin-top: 10px;
}

.container {
    background-color: #621E6F;

    padding: 0.9rem;
    width: 92%;
    margin: auto;
    margin-top: 40px;

    border-radius: 10px;
}

.container-title {
    font-size: 25px;
    font-weight: 400;
}

.form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.column {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
}

.poll {
    background-color: #3F61EF;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 0.9rem;
    border-radius: 10px;
    width: 120px;

    border: #2A34C4 10px;
    border-style: solid;

    font-size: 20px;
}

.poll object {
    width: 130px; 
    height: 130px;
}

.footer {
    text-align: center;
    margin-top: 20px;

    font-size: 12px;
}

